.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  display: block;
  padding: 10px 40px;
}

.sButton {
  background-color: rgb(119,177,3);
  border-color: rgb(25, 97, 10);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: bold;
  transition: box-shadow 0.5s;
  transition: opacity 1.5s;
}
.sButton:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.sButton:active {
  opacity: 0.8;

}

label {
  font-size: 20px;
}

.zprava {
  display: none;
  background-color: gray;
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
  padding: 3%;
  border-radius: 50px;
}